<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="/vendors/styles/core.css" />
    <link rel="stylesheet" type="text/css" href="/vendors/styles/icon-font.min.css" />
    <link rel="stylesheet" type="text/css" href="/vendors/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/vendors/styles/password-toggle.css" />
</head>
<body class="login-page">
    <div class="login-header box-shadow">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="brand-logo">
                <a href="/signin"><img src="/vendors/images/deskapp-logo.svg" alt="" /></a>
            </div>
            <div class="login-menu"><ul><li><a href="/signup">Register</a></li></ul></div>
        </div>
    </div>
    <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7"><img src="/vendors/images/login-page-img.png" alt="" /></div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title"><h2 class="text-center text-primary">Login To DeskApp</h2></div>
                        <% if (success) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <%= success %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        <% } %>
                        <% if (error) { %>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <%= error %>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        <% } %>
                        <form action="/signin" method="post">
                            <div class="input-group custom">
                                <input type="email" name="email" class="form-control form-control-lg" placeholder="Email" required />
                                <div class="input-group-append custom"><span class="input-group-text"><i class="icon-copy dw dw-email1"></i></span></div>
                            </div>
                            <div class="input-group custom password-toggle-group">
                                <input type="password" id="signinPassword" name="password" class="form-control form-control-lg" placeholder="Password" required />
                                <div class="input-group-append custom">
                                    <span class="input-group-text password-toggle-btn" data-target="signinPassword"><i class="fa fa-eye"></i></span>
                                </div>
                            </div>
                            <div class="row pb-30">
                                <div class="col-6"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="remember" /><label class="custom-control-label" for="remember">Remember</label></div></div>
                                <div class="col-6"><div class="forgot-password"><a href="/forgot-password">Forgot Password?</a></div></div>
                            </div>
                            <div class="row"><div class="col-sm-12"><button class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button></div></div>
                            <div class="text-center mt-20 pt-10"><a href="/signup">Create account</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendors/scripts/core.js"></script>
    <script src="/vendors/scripts/script.min.js"></script>
    <script src="/vendors/scripts/password-toggle.js"></script>
</body>
</html>
