<div class="left-side-bar">
    <div class="brand-logo">
        <a href="/dashboard">
            <img src="/vendors/images/deskapp-logo.svg" alt="" class="dark-logo" />
            <img src="/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo" />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li>
                    <a href="/dashboard" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-house"></span><span class="mtext">Dashboard</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-grid"></span><span class="mtext">Category</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/categories/add">Add Category</a></li>
                        <li><a href="/categories">View Category</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="/change-password" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-shield-lock"></span><span class="mtext">Change Password</span>
                    </a>
                </li> -->
                <li>
                    <a href="/logout" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-box-arrow-right"></span><span class="mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
